<div class="card">
  <div class="card-body">
    <form [formGroup]="angForm" novalidate>
      <div class="form-group">
        <label class="col-md-4">Nombre Persona</label>
        <input type="text" class="form-control" formControlName="nombre_persona" #nombre_persona 
        [(ngModel)]="negocio.nombre_persona" />
      </div>
      <div *ngIf="angForm.controls['nombre_persona'].invalid && (angForm.controls['nombre_persona'].dirty 
      || angForm.controls['nombre_persona'].touched)" class="alert alert-danger">
        <div *ngIf="angForm.controls['nombre_persona'].errors.required">
          Nombre Persona es requerido
        </div>
      </div>

      <div class="form-group">
          <label class="col-md-4">Nombre Negocio</label>
          <input type="text" class="form-control" formControlName="nombre_negocio" #nombre_negocio 
          [(ngModel)]="negocio.nombre_negocio" />
      </div>
      <div *ngIf="angForm.controls['nombre_negocio'].invalid && (angForm.controls['nombre_negocio'].dirty 
        || angForm.controls['nombre_negocio'].touched)" class="alert alert-danger">
          <div *ngIf="angForm.controls['nombre_negocio'].errors.required">
            Nombre Negocio es requerido
          </div>
      </div>

      <div class="form-group">
          <label class="col-md-4">Numero Negocio GST</label>
          <input type="text" class="form-control" formControlName="numero_gst_negocio" #numero_gst_negocio 
          [(ngModel)]="negocio.numero_gst_negocio" />
      </div>
      <div *ngIf="angForm.controls['numero_gst_negocio'].invalid && (angForm.controls['numero_gst_negocio'].dirty 
        || angForm.controls['numero_gst_negocio'].touched)" class="alert alert-danger">
          <div *ngIf="angForm.controls['numero_gst_negocio'].errors.required">
            Numero Negocio GST es requerido
          </div>
      </div>

      <div class="form-group">
        <button (click)="updateNegocio(nombre_persona.value,nombre_negocio.value,
        numero_gst_negocio.value)" [disabled]="angForm.invalid" 
        class="btn btn-primary">Actualizar Negocio</button>
      </div>
    </form>
  </div>
</div>
